/* This is index.css - The CSS File for 'index.html' */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-y: scroll;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(113,0,0,1) 60%);
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hall{
    width: 25%;
    margin: 30px 30px;
    height: 300px;
    min-width: 10cm;
    cursor: pointer;
    transition: all 0.5ms ease-in-out;
    text-align: center;
    align-self: center;
    border-bottom-right-radius: 50px;
}


.hall-name{
    position: relative;
    height: 75%;
    background-image: url(../images/hall-1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hall .view{
    position: relative;
    text-align: center;
    height: 20%;
    padding: 15px 0;
    border-bottom-right-radius: 50px;
    background: #fbf5e0;
}

img{
    position: relative;
    height: 225px;
    width: 100%;
}

h3{
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2{
    color: #f5f5f5;
}


a{
    color: #fff;
    text-decoration: none;
}


.abt{
    color: #000000;
    margin: 30px 1cm;
    padding: 30px 40px;
    background-image: url(https://github.com/Siddhesh25082001/Marriage-Hall-Management-System/blob/main/images/about.png?raw=true);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1cm;
}

.about{
    display: flex;
    width: 90%;
    margin: 30px auto;
}


.left img{
    height: 7cm;
    width: 10cm;
    margin: auto 1cm;
    border-radius: 10px;
}

.right p{
    text-align: justify;
    padding: 2px 0;
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 1.5px;
    font-style: italic;
}

.right{
    width: 69%;
    margin: 30px 25px;
}

.title{
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.footer{
    text-align: center;
    color: #fffefec7;
    padding: 8px 15px;
    background-color: transparent;
}

.main-title{
    text-align: center;
    font-size: 24px;
    margin: 10px;
}







hr{
    width: 83%;
    margin: 20px auto;
    border-top: 0;
    border-bottom: 2px solid #fbf5e0;
    border-style: dashed;
}


.button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 2px solid #fbf5e0;
    border-radius: 8px;
}
.button:hover{
    animation: pulsate 1s ease-in-out;
}

@keyframes pulsate{
    0%{
        box-shadow: 
        0 0 25px #ff4747,
        0 0 50px #ff4400;
    }
}





.container {
    width: 100%;
    margin: 0.5cm 0.5cm 1cm 0;
    padding: 15px;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding-block: 15px;
}
.navbar a {
    text-decoration: none;
    color: #fbf5e0;
}
.logo {
    font-weight: bolder;
    margin-left: 50px;
}
.list {
    list-style: none;
    display: flex;
    gap: 35px;
    margin-right: 1cm;
}
#toggler,
.navbar label {
    display: none;
}
@media screen and (max-width: 600px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .menu {
        max-height: 100%;
    }
}





















